.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 2fr 2fr  4fr 4fr;
  background-image: url(https://thumbs.dreamstime.com/b/trance-%D0%B4%D0%B8%D1%81%D0%BA%D0%BE-%D1%82%D0%B0%D0%BD%D1%86%D0%BE%D1%80%D0%B0-01-%D0%BA%D0%BB%D1%83%D0%B1%D0%B0-8509553.jpg);
  /* grid-auto-rows: 100px; */
  grid-template-areas:
  "header header header header"
    "aside main main main"
    "footer footer footer footer"
  ; 
}
.main {
  grid-area: main;

}
.user_info {
  color:#ffffff;
  padding: 20px;
  display: flex;
  background-image: url(https://assets3.thrillist.com/v1/image/2794471/size/sk-2017_04_article_text_width_desktop.jpg);
  background-size: cover;
}
.user_info  div{
  padding: 20px;
}
.user_data{
  background:linear-gradient(90deg,rgba(29, 25, 68, 0.9),rgba(243, 238, 238, 0.1));

}
.avatar {
  width: 135px;
  height: 192px;
}
.Messages_container {
  box-sizing: border-box;
  min-height: 72%;
  padding: 20px;
  /* background-color:rgba(255, 255, 255, 0.9); */
}
.Messages_hrsder_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.1));
  padding: 20px;

}
/* .Messages_container h3 {
}
.Messages_container p {
  background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.1));

  background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.1));
  padding: 20px;
} */



.footer {
  grid-area: footer;
}
.active {
color: #000000;
font-weight: bold;
text-transform: uppercase;
padding-left: 10px;
transition: padding .3s ease-in-out;
}
