.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: 100px;
  grid-template-areas:
  "header header header"
    "aside main main"
    "footer footer footer"
  ; 
}

.header {
  color: azure;
  grid-area: header;
  display: flex;
  background-color: darkblue;

}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.nav ul {
  text-transform: uppercase;
  list-style: none;
  display: flex;
}
.nav ul li {
  padding: 10px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
}


.aside {
  color: beige;
  grid-area: aside;
  background-color: rgb(104, 104, 207);
  height: 80vh;
}
.aside ul {
  list-style: none;
  text-transform: uppercase;
}
.aside ul li {
  margin: 20px;
  text-transform: uppercase;
}

.main {
  color: blanchedalmond;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
  height: 80vh;

}
.main img{
  width: 100%;
}
.main .avatar{
  width: 100px;
}
.user_info {
  padding: 20px;
  display: flex;
}
.user_info  div{
  padding: 20px;

}

.footer {
  grid-area: footer;
}
