.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 2fr 2fr  4fr 4fr;
  /* grid-auto-rows: 100px; */
  grid-template-areas:
  "header header header header"
    "aside main main main"
    "footer footer footer footer"
  ; 
}

.header {
  color: azure;
  grid-area: header;
  display: flex;
  background-color: rgb(166, 166, 251);

}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.logo_container {
padding:10px 20px;
}
.nav ul {
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav ul li {
  padding: 10px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
}


.aside {
  color: beige;
  grid-area: aside;
  background-color: rgb(104, 104, 207);
  height: 80vh;
}
.aside ul {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}
.aside ul li {
  margin: 20px;
  text-transform: uppercase;
}
.aside ul li a {
  color: bisque;
text-decoration: none;}


.main {
  color: rgb(36, 29, 18);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
  height: 80vh;
}
.main_container {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
.main_container .main_background {
}
/* .main img{
  width: 100%;
} */
.main .avatar{
  width: 100px;
}
.user_info {
  color:#ffffff;
  padding: 20px;
  display: flex;
  background-image: url(https://assets3.thrillist.com/v1/image/2794471/size/sk-2017_04_article_text_width_desktop.jpg);
  background-size: cover;
}
.user_info  div{
  padding: 20px;

}

.Messages_container {
  padding: 20px;
}
.Messages_list {
  padding: 0;
  list-style: none;
}
.Messages_list li {
padding: 20px;
margin: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.footer {
  grid-area: footer;
}
